
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body, html {
  font-family: 'Indie Flower', cursive, Arial, Helvetica, sans-serif;
  background-color:rgb(242, 232, 238);
}

.pixelScroller {
  margin-top: 24px;
  font-weight: bold;
  font-size: 24px;
  font-family: Arial;
}

.slideContainer {
  margin-top: 0;
  margin-bottom: 24px;
}

.slider {
  -webkit-appearance: none;
  width: 400px;
  height: 5px;
  border-radius: 5px;  
  background: #7a6969;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slideContainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 30px;
  background-color: #CD0707;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerOutside {
  border-style: solid;
  position: relative;
  border-color: rgb(205, 7, 7);
  box-shadow: 1px 1px 2px 2px #333;
  border-radius: 10px;
  border-width: 48px;
}

.containerInside {
  border-radius: 23px;
  background-color: rgb(210, 210, 210);
}

@media only screen and (max-width: 800px) {
 .resizeOutside {
    height: 200px;
    width: 300px;
 }
 .resizeInside {
    height: 211px;
    width: 317px;
    margin-top: -6px;
    margin-left: -9px;
 }
}

@media only screen and (min-width: 800px) {
  .resizeOutside {
    height: 400px;
    width: 600px;
  }
  .resizeInside {
    height: 411px;
    width: 617px;
    margin-top: -6px;
    margin-left: -9px;
  }
}

.mainTitle {
  color: rgb(223, 191, 11);
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  font-size: 36px;
  top: -72px;
}

.circleRight {
  position: absolute;
  bottom: -50px;
  right: -40px;
  box-shadow: 2px 2px 2px rgb(0 0 0);
  background: rgb(211, 211, 211);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.circleLeft {
  position: absolute;
  bottom: -50px;
  left: -40px;
  box-shadow: 2px 2px 2px rgb(0 0 0);
  background: rgb(211, 211, 211);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.flexGap {
  gap: 8px;
}

.button {
  margin-top: 60px;
  font-size: 24px;
  background-color: rgb(209, 26, 38);
  color: white;
  border-radius: 5px;
  border: none;
}